html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Arial";
}
.smooth-transition{
	-webkit-transition: all 2.5s;
}
.hidden {
	opacity: 0;
}
.dim {
	filter: brightness(40%);
	-webkit-transition: all 2.5s;
}
.landing-page{
	padding: 0;
	padding-top:7vh;
	width: 100vw;
	height: 100vh;
}
.profile-container{
	display: block;
	height: 200px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15vh;
	text-align: center;
	-webkit-transition: all 2.5s;
}
.profile-picture{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.sponsor-card {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.vertical-padding{
	padding-top: 2vh;
	padding-bottom: 2vh;
}
.centered-axis-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
#uci-logo {
	max-height: 5vh;
}
#landing-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#intro-text {
	position: absolute;
	color: yellow;
	top: 35vh;
	text-align: center;
	font-family: "Arial";
	font-weight: bold;
	-webkit-transition: all 2.5s;
	z-index: 2;
}
#contact-text {
	font-size: 1.5em;
	position: absolute;
	color: white;
	top: 35vh;
	left: 10vw;
	text-align: center;
	font-family: "Arial";
	font-weight: bold;
	-webkit-transition: all 2.5s;
	z-index: 2;
}
#intro-button {
	color: white;
	margin-top: 10vh;
	font-family: "Arial";
	font-weight: bold;
	z-index: 2;
	border-width: medium;
	-webkit-transition: all 4s;
}
#email-button{
	color: white;
	position: absolute;
	top: 25vh;
	left: 31vw;
	font-family: "Arial";
	font-weight: bold;
	z-index: 2;
	border-width: medium;
	-webkit-transition: all 4s;
}
#meet-the-team{
	height: 200vh;
	background-color: white;
	padding-top: 15vh;
}
#sponsors-page{
	overflow: auto;
	width: 100vw;
	padding-top: 10vh;
	padding-bottom: 4vh;
}

@media only screen and (min-width: 576px) {
	#meet-the-team {
		height: 100vh;
	}
	.profile-container {
		display: inline-block;
		margin-left: 5vw;
		margin-right: 5vw;
	}
	#email-button{
		left: 18vw;
	}
	.sponsor-card {
		margin-left: auto;
		margin-right: auto;
	}
}